*/log/
/log/
/docker_data/
/vendor
*.bundle/
/.bundle/
*coverage/
/coverage/
*/coverage/
/doc/
/pkg/
/spec/reports/
*/test-reports/
*/tmp/
*tmp/
*/pid/
*/pids/*.pid
/.vagrant/
/solr
*.env
*.env.*
/test-*
.DS_Store
*.swp
*.zip
*/public/
*/vendor/cache
*/vendor/bundle
prs.log
.terraform*
terraform*
.tool-versions